* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(211, 246, 211);
}

.card {
  width: 90%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: black;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.card__text,
.card__image {
  width: 50%;
  color: white;
  overflow: hidden;
}

.card__text {
  padding-top: 30px;
  padding-left: 30px;
}

.card__image {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.card__image img {
  width: 70%;
}

.card__text > h1 {
  font-size: 5vw;
}

.card__text > p {
  font-size: 2vw;
  margin: 20px 0;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: dodgerblue;
  font-size: 2vw;
  padding: 10px 14px;
  display: inline-block;
  border-radius: 5px;
}

/*768px*/
@media screen and (max-width: 48em) {
  .card {
    flex-direction: column;
  }

  .card__text,
  .card__image {
    width: 100%;
  }

  .card__text {
    text-align: center;
    max-height: 50vh;
    padding: 20px;
  }

  .card__text > h1 {
    font-size: 6vw;
  }

  .card__text > p {
    font-size: 3vw;
  }

  .btn {
    font-size: 3vw;
  }
}
